.employer-page__sidebar {
  background-color: var(--accent-color);
  min-width: 18%;
  padding-top: 100px;
}

.dashboard-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    margin: 15px 0;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--font-light-color);
    cursor: pointer;

    &--active {
      text-decoration: underline;
    }
  }

  &__tile {
    margin-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 0;

    &--active {
      background-color: var(--font-light-color);
    }
  }
}

.employer-page__sidebar .dashboard-menu span {
  display: none;
  margin-left: 10px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .dashboard-menu {
    &__link {
      font-size: 1.4rem;
    }

    &__tile {
      padding: 20px 0;
      padding-left: 10px;
    }
  }

  .dashboard-menu span {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .employer-page__sidebar {
    min-width: 250px;
    padding-top: 120px;
  }

  .employer-page__sidebar .dashboard-menu span {
    display: block;
  }

  .dashboard-menu__link {
    font-size: 1.6rem;
  }

  .dashboard-menu__tile {
    padding-left: 20px;
  }
}
