.categories {
  padding: 40px 0;
  &__title {
    color: var(--font-dark-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 0 10px 20px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-right: 10px;
    color: var(--font-light-color);
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: var(--btn-border-radius);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: transparent;
      color: var(--accent-color);
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.categories__wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.categories__wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 768px) {
  .categories {
    padding: 50px 0 50px 40px;
    &__title {
      text-align: left;
      font-size: 2.4rem;
    }
    &__wrapper {
      margin-top: 50px;
      padding: 0 0 20px 0;
    }

    &__btn {
      min-width: 300px;
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 1200px) {
  .categories {
    padding: 120px 0;
    &__title {
      width: 1300px;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    &__wrapper {
      width: 1300px;
      margin: 0 auto;
    }

    &__btn {
      min-width: 220px;
    }
  }
}
