.advices {
  margin-bottom: 40px;
  &__title {
    color: var(--font-dark-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
  }

  &__categories-wrapper,
  &__posts-wrapper {
    display: flex;
    align-items: stretch;
    overflow-x: scroll;
    padding: 20px;
  }

  &__posts-wrapper {
    background-color: var(--light-color-2);
    border-radius: var(--border-radius);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.advices__categories-wrapper::-webkit-scrollbar,
.advices__posts-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.advices__categories-wrapper,
.advices__posts-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 768px) {
  .advices {
    &__title {
      font-size: 2.4rem;
      text-align: left;
      padding-left: 40px;
    }

    &__categories-wrapper,
    &__posts-wrapper {
      padding: 40px 0 40px 40px;
    }
  }
}

@media (min-width: 1200px) {
  .advices {
    padding: 100px 0;

    &__title {
      width: 1300px;
      padding-left: 0;
      margin: 0 auto 50px;
    }

    &__wrapper {
      background-color: var(--light-color-2);
      border-radius: var(--border-radius);
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &__categories-wrapper {
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }

    &__categories-wrapper .category {
      margin-bottom: 10px;
    }

    &__categories-wrapper .category:last-child {
      margin-bottom: 0;
    }
  }
}
