.company-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-dark-color);

  &__badges-container {
    display: flex;
  }

  &__badge {
    background-color: var(--secondary-color);
    border: 1px solid var(--light-color-1);
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    font-size: 1.2rem;
  }

  &__section {
    padding: 10px 20px;
  }

  &__section-title {
    color: var(--font-dark-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 25px;
  }

  &__background-wrapper {
    height: 200px;
    padding-top: 50px;
  }

  &__background-img {
    height: 100%;
    width: 100vw;
    background-position: top;
  }

  /* HEADER */
  &__header {
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    background-color: var(--secondary-color);
    border: 1px solid var(--light-color-1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    padding: 15px;
  }

  &__header-company-info {
    display: flex;
  }

  &__logo {
    margin-right: 10px;
  }

  &__header-company-name-wrapper {
    height: 100%;
  }

  &__company-name {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.25rem;
    margin-bottom: 2px;
  }

  &__company-desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  &__controls-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    font-size: 1.2rem;
    line-height: 1.25rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: var(--accent-color);
    text-align: right;
  }

  &__controls {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__controls .company-profile__link {
    border: 1px solid var(--light-color-1);
    border-radius: 5px;
    padding: 5px;
  }

  &__btn {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--secondary-color);
    border: 1px solid var(--light-color-1);
    border-radius: 0.5rem;
    margin-left: 8px;
    cursor: pointer;
  }

  /* INFORMATIONS */
  &__informations {
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
  }

  &__info-wrapper {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  &__info-icon-container {
    margin-right: 5px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    border: 1px solid var(--light-color-1);
    padding: 4px;
  }

  &__info-title {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-right: 5px;
  }

  &__info {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
  }

  /* END OF INFORMATIONS */
  &__about {
    padding: 15px;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light-color-1);
    border-radius: 15px;
  }

  &__about-text {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  /* GALLERY */
  &__gallery,
  &__ads-container {
    width: 90vw;
    display: flex;
    padding-bottom: 30px;
    overflow-x: scroll;
    white-space: nowrap;
  }

  &__gallery-img,
  &__gallery-btn {
    margin: 0 10px;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
  }

  &__gallery-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--light-color-1);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  &__gallery::-webkit-scrollbar,
  &__ads-container::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  &__gallery,
  &__ads-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (min-width: 768px) {
  .company-profile {
    &__section {
      padding: 30px 40px;
    }

    &__section-title {
      font-size: 2.4rem;
      line-height: 3rem;
    }

    &__badge {
      padding: 5px;
      margin: 5px;
      font-size: 1.6rem;
    }

    &__background-wrapper {
      height: 250px;
      padding-top: 50px;
    }

    &__header {
      width: 85%;
    }

    &__logo {
      margin-right: 15px;
      width: 40px;
      height: auto;
    }

    &__company-name {
      font-size: 2.2rem;
      margin-bottom: 15px;
      margin-top: 10px;
    }

    &__company-desc {
      font-size: 1.8rem;
    }

    &__link {
      font-size: 1.6rem;
    }
    &__controls {
      margin-top: 20px;
    }

    &__informations {
      grid-template-columns: 1fr 1fr;
      padding: 30px 40px;
    }

    &__info-icon-container {
      padding: 10px;
    }

    &__info-wrapper {
      margin-top: 20px;
      margin-left: 20px;
    }

    &__info,
    &__info-title {
      font-size: 1.6rem;
      line-height: 1.75rem;
    }

    &__about-text {
      font-size: 1.6rem;
    }

    &__gallery-img,
    &__gallery-btn {
      width: 150px;
      height: 150px;
      margin: 0 15px;
    }
  }
}

@media (min-width: 1200px) {
  .company-profile {
    width: 70%;

    &__section {
      width: 100%;
      padding-left: 0;
    }

    &__section-title {
      text-align: left;
    }

    &__background-wrapper {
      height: 500px;
      padding-top: 100px;
    }

    &__header {
      width: 100%;
      padding: 30px;
    }

    &__header-company-info {
      align-items: center;
    }

    &__company-name {
      font-size: 3.6rem;
    }

    &__company-desc {
      font-size: 2.4rem;
    }

    &__logo {
      width: 60px;
    }

    &__link {
      font-size: 1.8rem;
    }

    &__controls .company-profile__link {
      padding: 8px;
    }

    &__informations {
      padding-left: 0;
      padding-right: 0;
    }

    &__wrapper {
      width: 1300px;
      margin: 0 auto;
      display: flex;
    }

    &__ads-container {
      width: 100%;
      flex-direction: column;
    }

    &__gallery {
      width: 100%;
      margin-bottom: 200px;
      overflow-x: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 50px;
      grid-template-rows: 1fr 1fr 1fr;
    }

    &__gallery-img,
    &__gallery-btn {
      margin: 0;
      font-size: 1.4rem;
    }
  }

  .company-profile__container aside {
    width: 30%;
    margin-left: 40px;
  }

  .company-profile__container aside h2 {
    margin-left: 10px;
  }
}
