.filtered-job {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border: 1px solid var(--light-color-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 30px 0;
  padding: 15px 15px;
  color: var(--font-dark-color);
  letter-spacing: 0.025em;

  &__link {
    color: var(--font-dark-color);
    text-decoration: none;
    cursor: pointer;
  }

  &__details {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__img-wrapper {
    margin-right: 10px;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__company-name {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin: 0;
    margin-bottom: 5px;
  }

  &__position {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
    margin-bottom: 5px;
  }

  &__address-wrapper {
    margin-bottom: 5px;
  }

  &__address-wrapper,
  &__job-type-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

  &__controls {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;

    &-salary {
      margin: 0;
      text-align: right;
    }
  }

  &__controls-favourite {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
  }
}

.text-blue {
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .filtered-job {
    width: 100%;
    height: 180px;
    padding: 25px 30px;

    &__details {
      width: 60%;
    }

    &__img-wrapper {
      margin-right: 30px;
      width: 60px;
    }

    &__company-name {
      font-size: 2.4rem;
      line-height: 3rem;
    }

    &__position {
      font-size: 1.8rem;
      line-height: 2.25rem;
      margin-bottom: 20px;
    }

    &__address-wrapper,
    &__job-type-wrapper {
      font-size: 1.6rem;
      line-height: 1.625rem;
    }

    &__address-wrapper {
      margin-bottom: 8px;
    }

    &__controls-salary {
      font-size: 2.4rem;
      line-height: 3rem;
    }

    &__controls-favourite {
      font-size: 1.6rem;
      line-height: 1.75rem;
    }
  }
}

@media (min-width: 1200px) {
  .filtered-job {
    width: 100%;
    height: 150px;

    &__company-name {
      font-size: 2rem;
    }

    &__position {
      font-size: 1.8rem;
    }
  }
}
