.categories {
  padding: 40px 0;
  &__title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 0 10px 0;
  }
}
