.hero {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../assets/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: var(--font-light-color);
  text-align: center;
  &__title {
    margin-top: 70px;
    font-size: 1.4rem;
    font-weight: 500;
  }
  &__text {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 300;
  }
  &__btn {
    margin-top: 10px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: 220px;
    &__title {
      font-size: 2rem;
    }

    &__text,
    &__btn {
      font-size: 1.6rem;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    &__title {
      font-size: 6.4rem;
    }
    &__text {
      font-size: 3.6rem;
    }
    &__btn {
      font-size: 2.4rem;
    }
  }
}
