.hero {
  width: 100vw;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../assets/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--font-light-color);
  text-align: center;
  &__title {
    margin-top: 70px;
    font-size: 2rem;
    font-weight: 500;
  }
  &__text {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 300;
  }
  &__btn {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 80px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    transition: 0.2s;

    &:hover {
      background-color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}

.webinar {
  height: 450px;
  padding: 35px 50px;
  background-image: url('../../assets/webinar-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--font-light-color);
  text-align: center;
  border-radius: 20px;

  &__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.025px;
  }

  &__text {
    margin: 5px 0;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.025px;
  }

  &__btn {
    background-color: transparent;
    margin-top: 25px;
    padding: 15px 45px;
    border: 2px solid var(--primary-color);
    border-radius: var(--btn-border-radius);
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: var(--primary-color);
      color: var(--accent-color);
    }
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: 140px;
    &__title {
      font-size: 3rem;
    }

    &__text,
    &__btn {
      font-size: 2.4rem;
    }
  }

  .webinar {
    height: 550px;
    padding: 50px 100px;
    background-position: center 90%;

    &__title {
      font-size: 3.6rem;
    }

    &__text,
    &__btn {
      font-size: 2.2rem;
    }

    &__btn {
      margin-top: 40px;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    &__title {
      font-size: 5rem;
    }
    &__text {
      font-size: 3.6rem;
    }
    &__btn {
      font-size: 2.4rem;
      margin-bottom: 120px;
    }
  }

  .webinar {
    height: 380px;
    border-radius: 0;
    background-image: url('../../assets/webinar-bg-desktop.jpg');
    background-position: 80% center;
    background-size: cover;

    &__wrapper {
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 1300px;
      margin: 0 auto;
    }
  }
}
