.category {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: var(--secondary-color);
  border: 1px solid var(--light-color-1);
  border-radius: var(--btn-border-radius);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
