.category {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: var(--secondary-color);
  border: 1px solid var(--light-color-1);
  border-radius: var(--btn-border-radius);
  font-size: 1rem;
  cursor: pointer;
}

.category h3 {
  color: var(--font-dark-color);
  font-weight: 600;
}

@media (min-width: 768px) {
  .category {
    min-width: 300px;
    margin-right: 20px;
    font-size: 1.4rem;
  }

  .category svg {
    width: 25px !important;
    height: auto !important;
    margin-right: 10px !important;
  }
}

@media (min-width: 1200px) {
  .category {
    min-width: 250px;
    justify-content: flex-start;
  }
}
