.employer-offers {
  display: flex;
  &__page-wrapper {
    width: 100%;
    display: flex;
    padding-top: 50px;
  }

  &__box-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }

  &__box {
    background-color: #f3f3f3;
    width: 90%;
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;
  }

  &__title-wrapper {
    background-color: #2a95ff;
    color: white;
    padding: 20px;
    border-radius: 10px;
  }

  &__title {
    margin: 0;
  }

  &__info {
    margin-top: 60px;
    font-size: 1.8rem;
  }

  &__btn {
    display: block;
    margin-top: 20px;
    background-color: #2a95ff;
    color: white;
    cursor: pointer;
    border: 2px solid #2a95ff;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
  }
}

.employer-offers__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin: 15px 0;
  padding: 15px;
  background-color: var(--primary-color);
  color: var(--font-dark-color);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transition: 0.4s;

  &:hover {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  &__info {
    display: flex;
    width: 100%;
    pointer-events: none;
  }

  &__img-wrapper {
    margin-right: 10px;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  &__company-name,
  &__salary-wrapper {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.25rem;
  }

  &__position {
    font-size: 1.4rem;
    font-weight: 400;
  }

  &__salary-wrapper span {
    color: var(--accent-color);
  }

  &__address-wrapper {
    display: flex;
    align-items: center;
  }

  &__address-wrapper,
  &__company-name,
  &__position,
  &__salary-wrapper {
    margin: 0 0 5px 0;
  }

  &__salary-wrapper span:last-child {
    color: var(--font-dark-color);
  }

  &__address-divider {
    margin-right: 5px;
  }

  &__address-province,
  &__address-city {
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__controls {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .employer-offers {
    &__title {
      font-size: 1.8rem;
    }

    &__btn {
      font-size: 1.6rem;
    }
  }

  .job-offer {
    width: 330px;
    margin-right: 20px;
    padding: 30px;

    &__info {
      width: 100%;
    }

    &__img-wrapper {
      width: 20%;
      margin-right: 20px;
    }

    &__company-name {
      font-size: 1.8rem;
    }

    &__position {
      font-size: 2.2rem;
    }

    &__salary-wrapper,
    &__address-wrapper span {
      font-size: 1.8rem;
    }

    &__address-wrapper,
    &__company-name,
    &__position,
    &__salary-wrapper {
      margin: 0 0 10px 0;
    }

    &__controls {
      margin-top: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .employer-offers {
    &__page-wrapper {
      width: 1100px;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__box {
      width: 80%;
    }
    &__title-wrapper {
      padding: 30px 45px;
    }

    &__title {
      font-size: 2rem;
    }
    &__box-wrapper {
      width: 100%;
      margin-top: 100px;
      display: flex;
      padding-left: 50px;
    }
    &__btn {
      margin-top: 25px;
      font-size: 1.8rem;
    }
  }

  .job-offer {
    width: 300px;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 30px;

    &__company-name {
      font-size: 1.6rem;
    }

    &__position {
      font-size: 1.8rem;
    }

    &__salary-wrapper,
    &__address-wrapper span {
      font-size: 1.4rem;
    }
  }
}
