.your-activity {
  padding: 40px 0;

  &__title {
    color: var(--font-dark-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 40px;
  }

  &__controls {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__btn {
    display: flex;
    align-items: center;
    color: var(--font-dark-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--light-color-1);
    border-radius: var(--btn-border-radius);
    margin: 0 2px;
    padding: 15px 7px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    cursor: pointer;

    &:hover {
      color: var(--accent-color);
    }
  }

  &__btn.active {
    color: var(--accent-color);
  }

  &__tiles {
    background-color: var(--light-color-2);
    border-radius: var(--border-radius);
  }

  &__tiles .your-activity__wrapper {
    display: flex;
    margin: 20px 0;
    padding: 20px;
    overflow-x: scroll;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.your-activity__tiles .your-activity__wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.your-activity__tiles .your-activity__wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 768px) {
  .your-activity {
    padding: 50px 0;

    &__title {
      padding-left: 40px;
      text-align: left;
      font-size: 2.4rem;
    }

    &__controls {
      margin-top: 50px;
      padding: 0 40px;
      justify-content: start;
    }

    &__btn {
      margin-right: 35px;
      font-size: 1.4rem;
      line-height: 1.75rem;
      padding: 20px;
    }

    &__btn svg {
      width: 20px !important;
      margin-right: 10px !important;
    }

    &__tiles {
      margin: 40px 0 0 0;
      padding: 40px 0 40px 40px;
    }
  }
}

@media (min-width: 1200px) {
  .your-activity {
    &__wrapper {
      width: 1400px;
      margin: 0 auto;
    }

    &__title {
      padding-left: 0;
    }

    &__controls {
      padding: 0;
    }

    &__tiles {
      padding: 40px 0;
    }

    &__tiles .your-activity__wrapper {
      margin: 20px auto;
      padding: 20px 0;
    }
  }
}
