.job-search {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 25px 20px;
  color: var(--font-dark-color);

  &__title {
    margin: 0 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.2rem;
  }

  &__input {
    font-size: 1.2rem;
    width: 100%;
    background-color: var(--light-color-2);
    border: 1px solid var(--secondary-color);
    border-radius: var(--btn-border-radius);
    padding: 20px 35px;
    margin: 5px 0;
  }

  &__input--select {
    cursor: pointer;
    width: 55%;
    color: var(--font-dark-color);
  }

  &__input--select option {
    color: var(--font-dark-color);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42%;
    background-color: var(--accent-color);
    color: var(--font-light-color);
    cursor: pointer;
    border: 1px solid #2a95ff;
  }
}

.job-search ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.job-search ul li:last-of-type {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .job-search {
    width: 75%;
    padding: 35px 20px;

    &__title {
      font-size: 1.8rem;
    }

    &__input {
      font-size: 1.6rem;
      margin: 10px 0;
    }

    &__btn {
      width: 40%;
    }
  }
}

@media (min-width: 1200px) {
  .job-search {
    width: 76%;
    margin-top: 150px;
    padding: 10px 0;

    &__title {
      margin: 0;
    }

    &__input {
      margin: 5px 20px;
      font-size: 1.4rem;
      width: 380px;
    }

    &__input--select {
      margin: 5px 5px;
    }

    &__input--select,
    &__btn {
      width: 167px;
    }
  }

  .job-search ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
