.top {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: var(--font-light-color);
  text-align: center;
  border-radius: 0 0 25px 25px;
  height: 10px;
}

span.light {
  font-weight: 400;
}

.company-logo-input {
  font-size: 1.2rem;
  display: block;
  margin-top: 15px;
}

.employers-page-wrapper {
  width: 100%;
  display: flex;
  padding-top: 50px;
}

.left-wrap {
  width: 20%;
  background-color: #2a95ff;
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.dashboard-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;

  &__item {
    margin: 15px 0;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--font-light-color);
    cursor: pointer;

    &--active {
      color: var(--font-dark-color);
    }
  }

  &__tile {
    margin-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 0;

    &--active {
      background-color: var(--font-light-color);
    }
  }
}

.dashboard-menu span {
  display: none;
  margin-left: 10px;
  font-weight: 700;
}

.right-wrap {
  width: 80%;
  background-color: white;
}

.logreg-box2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.login-box2,
.register-box2,
.logo-box {
  background-color: #f3f3f3;
  width: 90%;
  border-radius: 0 0 10px 10px;
  margin-bottom: 50px;
}

.login-title {
  background-color: #2a95ff;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.login-title h2 {
  margin: 0;
}

.form-wrapper {
  padding: 15px;
}

.form-wrapper p,
.form-wrapper label {
  margin: 0;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #575757;
}

.form-wrapper p:nth-of-type(2),
.form-wrapper p:nth-of-type(3),
.form-wrapper p:nth-of-type(4),
.form-wrapper p:nth-of-type(5) {
  margin-top: 15px;
}

input.login-name,
input.login-password {
  font-size: 10px;
  width: 100%;
  height: 40px;
  background-color: #e8e8e8;
  border-radius: 10px;
  border: none;
  padding: 15px 10px;
  margin: 5px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

textarea.login-name {
  font-size: 10px;
  width: 100%;
  height: 140px;
  background-color: #e8e8e8;
  border-radius: 10px;
  border: none;
  padding: 15px 10px;
  margin: 5px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

textarea.login-name:focus {
  outline-color: var(--accent-color);
}

.login-submit,
.register-submit {
  margin-top: 20px;
  background-color: #2a95ff;
  color: white;
  cursor: pointer;
  border: 2px solid #2a95ff;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .form-wrapper p,
  .form-wrapper label {
    font-size: 14px;
  }

  .company-logo-input {
    font-size: 1.4rem;
  }

  input.login-name,
  input.login-password,
  textarea {
    font-size: 12px;
  }

  .login-title h2 {
    font-size: 18px;
  }

  .login-submit,
  .register-submit {
    font-size: 14px;
  }

  .dashboard-menu {
    &__link {
      font-size: 1.4rem;
    }

    &__tile {
      padding: 20px 0;
      padding-left: 10px;
    }
  }

  .dashboard-menu span {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .login-box2,
  .register-box2 {
    width: 65%;
  }
  .logo-box {
    width: 25%;
  }
  .login-box2 {
    margin-right: 25px;
  }

  .register-box2 {
    margin-left: 0;
  }

  .form-wrapper {
    padding: 35px 45px;
  }

  .form-wrapper p:nth-of-type(2),
  .form-wrapper p:nth-of-type(3),
  .form-wrapper p:nth-of-type(4),
  .form-wrapper p:nth-of-type(5),
  .form-wrapper p:nth-of-type(6),
  .form-wrapper p:nth-of-type(7),
  .form-wrapper p:nth-of-type(8),
  .form-wrapper p:nth-of-type(9),
  .form-wrapper p:nth-of-type(10) {
    margin-top: 25px;
  }

  .login-submit,
  .register-submit {
    margin-top: 25px;
  }

  .login-title {
    padding: 30px 45px;
  }

  .form-wrapper p,
  .form-wrapper label {
    font-size: 18px;
  }

  input.login-name,
  input.login-password,
  textarea.login-name {
    font-size: 16px;
    height: 50px;
    padding: 20px;
  }

  .login-title h2 {
    font-size: 20px;
  }

  .login-submit,
  .register-submit {
    font-size: 18px;
  }

  .logreg-box2 {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
  }

  .left-wrap {
    padding-top: 100px;
  }

  .left-wrap {
    align-items: flex-end;
  }

  .dashboard-menu__link {
    font-size: 1.6rem;
  }

  .dashboard-menu__tile {
    padding-left: 20px;
  }
}
