.header {
  position: fixed;
  width: 100vw;
  background-color: var(--primary-color);
  height: 75px;
  padding: 20px 25px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  z-index: 10;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);

  &__logo {
    width: 145px;
    height: auto;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 0 auto;
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1300px;
  }

  .header {
    display: flex;
    align-items: center;
    height: 113px;
    &__logo {
      width: 191px;
    }
  }
}
