.header {
  background-color: var(--primary-color);
  height: 82px;
  padding: 20px 25px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  z-index: 10;
  &__logo {
    width: 145px;
    height: auto;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 0 auto;
    width: 90%;
  }
}
