.footer {
  background-color: var(--secondary-color);
  border: 1px solid var(--light-color-1);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding-top: 25px;

  &__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: var(--font-dark-color);
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
  }

  &__link {
    margin: 12px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--font-dark-color);
    cursor: pointer;

    &:hover {
      color: var(--font-placeholder-color);
    }
  }

  &__img {
    margin: 20px 0;
    cursor: pointer;
  }

  &__logo {
    width: 90px;
    height: auto;
    cursor: pointer;
  }

  &__copyright {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1rem;
    color: #c5c5c5;
  }
}

@media (min-width: 768px) {
  .footer {
    &__container {
      grid-template-columns: 1fr 1fr;
    }

    &__logo {
      width: 190px;
    }

    &__title {
      font-size: 2.4rem;
      line-height: 3rem;
    }

    &__link {
      font-size: 1.4rem;
      line-height: 1.75rem;
    }

    &__wrapper:last-of-type {
      justify-content: center;
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    &__container {
      width: 1300px;
      margin: 0 auto;
      grid-template-columns: repeat(5, 1fr);
    }

    &__wrapper:last-child {
      margin-top: 50px;
      grid-column: 3;
    }

    &__copyright {
      font-size: 1.4rem;
      line-height: 1.75rem;
    }
  }
}
