/* VARIABLES */
$primary-color: #ffffff;
$secondary-color: #f3f3f3;
$light-color-1: #e8e8e8;
$light-color-2: #fafafa;
$accent-color: #2a95ff;
$font-dark-color: #575757;
$font-light-color: #ffffff;
$font-placeholder-color: #b0b0b0;
$border-radius: 25px;
$btn-border-radius: 10px;
