@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700;800&display=swap');

/* VARIABLES */
:root {
  --primary-color: #ffffff;
  --secondary-color: #f3f3f3;
  --light-color-1: #e8e8e8;
  --light-color-2: #fafafa;
  --accent-color: #2a95ff;
  --font-dark-color: #575757;
  --font-light-color: #ffffff;
  --border-radius: 25px;
}

body {
  font-family: 'Encode Sans';
}
