@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700;800&display=swap');

/* VARIABLES */
:root {
  --primary-color: #ffffff;
  --secondary-color: #f3f3f3;
  --light-color-1: #e8e8e8;
  --light-color-2: #fafafa;
  --accent-color: #2a95ff;
  --font-dark-color: #575757;
  --font-light-color: #ffffff;
  --font-placeholder-color: #b0b0b0;
  --border-radius: 25px;
  --btn-border-radius: 10px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  font-family: 'Encode Sans';
}

/* GLOBAL COMPONENTS */
.btn {
  cursor: pointer;
  padding: 15px 45px;
  border-radius: var(--btn-border-radius);
  background-color: transparent;
  border: none;
}
